---
import type { CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'content'>;
}

const { entry } = Astro.props;
const data = entry.data as any;
---
<div class="mb-6">
  <pre class="not-prose p-3 rounded-lg bg-(--color-galaxy-dark) text-(--color-text-on-dark) font-mono text-sm overflow-x-auto"><code>{data.tool} {data.command}</code></pre>
</div>
